@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: #2e2e2e;
    color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header *{
    margin: 0;
}

header{
    background-color: black;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px;
}
header h2{
    flex-basis: 90%;
}
#titulo{
    text-decoration: none;
    color: rgb(224, 50, 50);
    font-weight: 600;
}


header input{
    background-color: #2e2e2e;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

header input::placeholder{
    padding-left: 5px;
}

#peliculasContainer{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: auto;
    margin-top: 70px;
    margin-top: 100px;
}
.peliculas{
    border: 2px solid black;
    flex-basis: 24%;
    background-color: black;
    margin: 3px;
    margin-bottom: 10px;
    border-radius: 10px;
}
img{
    display: block;
    width: 90%;

    margin: 10px auto;
    border-radius: 10px;
}
.peliculas p{
    text-align: center;
}

#seccionBotones{
    margin: 2% 0;
    text-align: center;
}
.Botones{
    cursor: pointer;
    font-size: 115%;
    padding: 1%;
    margin: 0 5%;
    width: 25%;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
}

@media(max-width:668px){
    .peliculas{
        flex-basis: 100%;
    }
    
}